.dictionary-div {
  z-index: 100;
  position: relative;
  margin: 1rem;
  padding-bottom: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s linear;  
}

.search-box {
  position: relative;
  margin: 1rem;
  padding-bottom: calc(1em);
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.3s linear;
  padding: 0.7em;
}

.search-input {
  border: none;
  outline: none;
  line-height: 1.7em;
  background-color: none !important;
  border-color: none !important;
  width: 86%;
  border-width: 0;
  border-style: none !important;
}



.search-results {
  position: relative;
  margin: 1rem;
  padding-bottom: calc(2em + 60px);
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: none;
  overflow: hidden;
  transition: all 0.3s linear;
  border: none;
  padding: 1em;
}

.search-icon {
  border: none;
  outline: none;  
  background-color: transparent !important;
  border-color: none !important;  
  border-width: 0;
  border-style: none !important;
}