.flow-timer-div {
  position: relative;
  margin: 1rem;
  padding-bottom: calc(1em + 6px);
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s linear;
  border: 3px solid magenta;

  .task-details {
    text-align: center;
    font-size: 1.3em;
    background-color: black;
    color: white;
    line-height: 2em;
  }

  .clock-display {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 5em;
    text-align: center;
    line-height: 2em;
  }

  .flow-timer-toolbox {
    text-align: center;
  }


}
