/* 
Ref : the button styles are copied from bootstrap 
https://getbootstrap.com/docs/5.0/components/buttons/
*/
/* 1-col = 5% */
.row { width: 100%; border: 0px solid red; display: flex;}
.col-1 { width: 8%;}
.col-2 { width: 16%;}
.col-3 { width: 24%;}
.col-9 { width: 72%}
.col-10 { width: 80%}
.col-11 { width: 88%}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-start {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  padding: 0rem 4rem 0.4rem;
  border-radius: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 3rem;
  min-width: 14rem;
}

.hidden {
  display: none;
}


.Todo {
  grid-area: todo;  
  background-color: #FFCBC8;
}
.Doing {
  grid-area: doing;
  background-color: #B9D5FF;
}
.Done {
  grid-area: done;
  background-color: #B9FFF2;
}

.container {
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: auto;
  grid-template-areas: "todo doing done";  
  min-height: 90vh; 
}



@media (max-width: 700px) {
  .container {
    grid-template-areas:
      "doing"
      "todo"
      "done";
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }

  .board-doing {
    .current-task-card {
      display: block;
      width: 90%;
      margin: 5%;
      padding-left: 0.5em;
      background-color: rgb(41, 41, 41);
    }
  }
}
